<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="application.css">
		<link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap" rel="stylesheet">	
		<link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap" rel="stylesheet">
		<link
    		rel="stylesheet"
    		href="prism-atom-dark.css"
    		type="text/css"
   			media="screen"
  		/>

  		<script type="text/javascript" src="prism.js"></script>
  		<script type="text/javascript" src="prism.ruby.js"></script>

  		<title>About Us</title>
  		<meta name="description" content="My Grandmother started Cotton Country Jams in 2000. At the time we had only one product, Wild Maine Blueberry Jam. Since then we have expanded to over 80 different products, built our own commercial kitchen, and opened a country store. We are family owned and operated and take pride in providing quality Arizona grown products that your friends and family will love."

	</head>
	<body>

			<div class="bio">
			<h2>About Us</h2>
			<br/>
			<%= image_tag "fam2.png" %>
				<p class="bio">
					My Grandmother started Cotton Country Jams in 2000. 
					At the time we had only one product, Wild Maine Blueberry Jam. 
					Since then we have expanded to over 80 different products, 
					built our own commercial kitchen, and opened a country store. 
					We are family owned and operated and take pride in providing 
					quality Arizona grown products that your friends and family will love.
				</p>
			</div>

			<div>
				<h2>Farmer's Markets</h2>
				<p>
					We sell our products at many different Farmers Markets throughout the state.
				</p>
				<ul>
					<iframe width="600" height="480" src="https://www.youtube.com/embed/OwlpSeJhtvY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				<ul>
			</div>

			<div class="info">
				<h3>Prescott Farmers Market</h3>
				<p>
					Yavapai College Parking Lot
					<br/>
					Every Saturday 7:30am-12pm
					<br/>
					2nd Saturday in May - 2nd Saturday in October
				</p>
			</div>

			<div class="info">
				<h3>Flagstaff Farmers Market</h3>
				<p>
					Route 66 & Sitgreaves
					<br/>
					Every Sunday 8am-12pm 2nd Sunday in June - 2nd Sunday in October
				</p>
			</div>

			<div class="info">
				<h3>Flagstaff CSA Market</h3>
				<p>
					116 W Cottage Ave
					<br/>
					Tuesday-Saturday 10am-6pm
				</p>
			</div>

			<div class="info">
				<h3>Downtown Phoenix Market</h3>
				<p>
					Central & McKinley
					<br/>
					Every Saturday 8am-1pm
					<br/>
					October - May
				</p>
			</div>

			<div class="info">
				<h3>Old Town Scottsdale</h3>
				<p>
					1st St & Brown
					<br/>
					Every Saturday 8am-1pm
					<br/>
					October - May
				</p>
			</div>
			<br/>
			<br/>
			<br/>
			<br/>
			<br/>
		

		<div class="footer">
			<h4>
				© Cotton Country Jams 2020. All rights reserved. Website created by Adryan Hawkins.
			</h4>
		</div>	
	</div>
	</body>
</html>