<!DOCTYPE html>
<html>
	<head>

  		<title>About Us</title>
  		<meta name="description" content="My Grandmother started Cotton Country Jams in 2000. At the time we had only one product, Wild Maine Blueberry Jam. Since then we have expanded to over 80 different products, built our own commercial kitchen, and opened a country store. We are family owned and operated and take pride in providing quality Arizona grown products that your friends and family will love.">

	</head>
	<body>
			<h2>About Us</h2>
			<div class="col_1_wide">
			<br/>
			<%= image_tag "fam2.png" %>
				<p>
					My Grandmother started Cotton Country Jams in 2000. 
					At the time we had only one product, Wild Maine Blueberry Jam. 
					Since then we have expanded to over 80 different products, 
					built our own commercial kitchen, and opened a country store. 
					We are family owned and operated and take pride in providing 
					quality Arizona grown products that your friends and family will love.
				</p>
			</div>
			<br/><br/><br/>
			<div>
				<ul>
					<iframe width="600" height="480" src="https://www.youtube.com/embed/OwlpSeJhtvY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</ul>
			</div>
			<br/><br/>
			<h2>Farmer's Markets</h2>
				<p>
					We sell our products at many different Farmers Markets throughout the state.
				</p>
			<br/><br/>
			<div class="col_1_wide">
				<h3>Prescott Farmers Market</h3>
				<p>
					<br/>
					Yavapai College Parking Lot
					<br/>
					Every Saturday 7:30am-12pm
					<br/>
					2nd Saturday in May - 2nd Saturday in October
				</p>
			</div>

			<div class="col_1_wide">
				<h3>Flagstaff Farmers Market</h3>
				<p>
					<br/>
					Route 66 & Sitgreaves
					<br/>
					Every Sunday 8am-12pm 2nd Sunday in June - 2nd Sunday in October
				</p>
			</div>
			<br/><br/>
			<div class="col_1_wide">
				<br/><br/><br/><br/>
				<h3>Flagstaff CSA Market</h3>
				<p>
					<br/>
					116 W Cottage Ave
					<br/>
					Tuesday-Saturday 10am-6pm
				</p>
			</div>

			<div class="col_1_wide">
				<br/><br/><br/><br/>
				<h3>Downtown Phoenix Market</h3>
				<p>
					<br/>
					Central & McKinley
					<br/>
					Every Saturday 8am-1pm
					<br/>
					October - May
				</p>
			</div>
			<br/><br/>
			<div class="info">
				<br/><br/><br/><br/>
				<h3>Old Town Scottsdale</h3>
				<p>
					<br/>
					1st St & Brown
					<br/>
					Every Saturday 8am-1pm
					<br/>
					October - May
				</p>
				<br/>
			</div>
			<br/>
			<br/>
			<br/>
			<br/>
			<br/>
		


	</div>
	</body>
</html>