<!DOCTYPE html>
<html>
	<head>

  		<title>About Us</title>
  		<meta name="description" content="My Grandmother started Cotton Country Jams in 2000. At the time we had only one product, Wild Maine Blueberry Jam. Since then we have expanded to over 80 different products, built our own commercial kitchen, and opened a country store. We are family owned and operated and take pride in providing quality Arizona grown products that your friends and family will love.">

	</head>
	<body>
			<h2>About Us</h2>
			<div class="col_1_wide">
			<br/>
			<%= image_tag "fam2.png" %>
				<p>
					My Grandmother started Cotton Country Jams in 2000. 
					At the time we had only one product, Wild Maine Blueberry Jam. 
					Since then we have expanded to over 80 different products, 
					built our own commercial kitchen, and opened a country store. 
					We are family owned and operated and take pride in providing 
					quality Arizona grown products that your friends and family will love.
				</p>
			</div>
			<br/><br/><br/>
			<div>
				<ul>
					<iframe width="600" height="480" src="https://www.youtube.com/embed/OwlpSeJhtvY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</ul>
			</div>
			<br/><br/>
			
			
	</body>
</html>