<!DOCTYPE html>
<html>
<head>
  	<title>Reserve Large Kitchen</title>
  		<meta name="description" content="Book our large kitchen for your business.">
</head>
	<div class="heading">
		<br/>
		<br/>
		<h3>Large Kitchen Bookings</h3>
		<h3>602.478.1828</h3>
		<a href="https://calendly.com/cottoncountryjams" target="_blank" class="nav-link"><h2>Reserve Now</h2></a>

	</div> 
	
	<p>
		<iframe src="https://calendar.google.com/calendar/b/2/embed?height=1100&amp;wkst=1&amp;bgcolor=%23ffffff&amp;ctz=America%2FPhoenix&amp;src=YW1hbmRhaGF3a2luc2F6QGdtYWlsLmNvbQ&amp;src=ZW4udXNhI2hvbGlkYXlAZ3JvdXAudi5jYWxlbmRhci5nb29nbGUuY29t&amp;color=%233F51B5&amp;color=%23D50000&amp;title=Booking%20Calendar%20(Large%20Kitchen)&amp;showCalendars=1" style="border-width:0" width="1100" height="1100" frameborder="0" scrolling="no">
		</iframe>
	</p>
</html>
