<!DOCTYPE html>
<html>
<head>
  	<title>Reserve Small Kitchen</title>
  		<meta name="description" content="Book our small kitchen for your business.">
</head>
	<div class="heading">
		<br/>
		<br/>
		<h3>Small Kitchen Bookings</h3>
		<h3>602.478.1828</h3>
		<a href="https://calendly.com/cottoncountrysmallkitchen" target="_blank" class="nav-link"><h2>Reserve Now</h2></a>

	</div> 
	
	<p>
		<iframe src="https://calendar.google.com/calendar/b/4/embed?height=1100&amp;wkst=1&amp;bgcolor=white&amp;ctz=America%2FPhoenix&amp;src=Y2Nqc21hbGxraXRjaGVuQGdtYWlsLmNvbQ&amp;src=ZW4udXNhI2hvbGlkYXlAZ3JvdXAudi5jYWxlbmRhci5nb29nbGUuY29t&amp;color=%23616161&amp;color=%239E69AF&amp;title=Cotton%20Country%20Jams%20(Small%20Kitchen)" style="border-width:0" width="1100" height="1100" frameborder="0" scrolling="no">
			
		</iframe>
	</p>
</html>