<!DOCTYPE html>
<html>
	<head>
  		<title>Contact Us</title>
  		<meta name="description" content="Feel free to contact us for any information or questions."

	</head>
	<body>
		<div class="contact">
			<h2>Contact US</h2>
			<br/>
			<%= image_tag("map.png", :class => "map")%>
				<p>
					<h3>3801 S Central Ave, Phoenix, AZ 85040</h3>
					<h3>602.268.3181</h3>
					<h3>Mon-Thu 8am-12pm</h3>
					<a href="mailto:sales@cottoncountryjams.com" class="nav-link"><h3>sales@cottoncountryjams.com</h3></a>
				</p>
		</div>
			<br/>
			<br/>
			<br/>
			<br/>
			<br/>
	
	</body>
</html>