<!DOCTYPE html>
<html>
	<head>
  		<title>Products</title>
  		<meta name="description" content="Some of the products that Cotton Country Jams provides.">
	</head>
	<body>
		<div class="products">
			<h2>Our Products</h2>
			<br/>
			<h5>Email or call us if you would like to place an order:</h5>
			<br/><br/>
			<%= image_tag("jams2.png", :class => "products") %>
				<p>			
					<a href="mailto:sales@cottoncountryjams.com" class="nav-link"><h2>sales@cottoncountryjams.com</h2></a>
					<h2>602.268.3181</h2>
				</p>
				<br/>
				<div>
					<h2>Jams</h2>
					<h5>Apple Butter,
					Apricot,
					Apricot Pineapple,
					Blackberry,
					Chipotle Plum,
					Chipotle Raspberry,
					Chipotle Tomato,
					Fig,
					Habanero Mango,
					Habanero Pineapple,
					Jalapeno,
					Mango,
					Orange Lemon Marmalade,
					Peach,
					Pineapple Mango,
					Plum,
					Raspberry,
					Raspberry Jalapeno,
					Rhubarb,
					Sambuca Blueberry,
					Spiced Currant,
					Strawberry,
					Strawberry Amaretto,
					Strawberry Rhubarb,
					Wild Main Blueberry,
					Tomato Preserves</h5>
				</div>

				<div>
					<h2>Jellies</h2>
					<h5>Choke Cherry,
					Mesquite Amber,
					Pomegranate,
					Prickly Pear Cactus</h5>
				</div>

				<div>
					<h2>Salsas</h2>
					<h5>Green Chili,
					Chipotle Black Bean & Corn,
					Mango,
					Zesty</h5>
				</div>

				<div>	 
					<h2>Syrups</h2>
					<h5>Mesquite,
					Prickly Pear,
					Wild Maine Blueberry</h5>
				</div>

				<div>	
					<h2>Vinegars</h2>
					<h5>Raspberry,
					Pomengranate</h5>
				</div>

				<div>
					<h2>Sauces</h2>
					<h5>White Chocoate Raspberry,
					Vodka</h5>
				</div>

				<div>
					<h2>Pickles</h2>
					<h5>Bread & Butter,
					Kick Ass Bread & Butter,
					Cinnamon Barrel</h5>
				</div>

				<div>
					<h2>Pickled Products</h2>
					<h5>Asparagus,
					Beets,
					Bloody Mary Mix,
					Chow Chow,
					Corn Relish,
					Dilly Beans,
					Okra,
					Jalapeno Slices,
					Red Wine Garlic,
					White Wine Garlic</h5>
				</div>
		</div>
			<br/><br/><br/><br/>
	</body>

</html>